body{
    display: flex;
    flex-direction: column;
    height: auto;
    background-image: linear-gradient(180deg, #020827, #232ab1);
    background-size: cover;
    background-repeat: no-repeat;
}

/*Barre de navigation*/
nav {
    position: fixed;
    display: flex;
    background: rgba(255, 255, 255, .1);
    border-radius: 20px;
    backdrop-filter: blur(8px);
    justify-content: center;
    left: 5%;
    right: 5%;

    height: 50px;
    text-align: center;
    padding: 2rem;
    gap: 100px;
}

nav a {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    flex-direction: column;
    text-decoration: none;
    font-family: 'Pixelify Sans', sans-serif;

}

nav a:hover {
    color: #467bed;
}

nav a i {
    justify-content: center;
}

nav a i:hover {
    transform: scale(110%) translateY(5%);
}

.flaticon-spellbook {
    display: inline;
    font-size: 2em;
    color: white;
}

.flaticon-dragon {
    display: inline;
    font-size: 2em;
    color: white;
}

.flaticon-potion {
    display: inline;
    font-size: 2em;
    color: white;
}

.flaticon-ancient-scroll {
    display: inline;
    font-size: 2em;
    color: white;
}

section {
    margin: 25%;
    font-family: 'Pixelify Sans', sans-serif;
    color: white;
}

#title-home {
    font-size: 5em;
    justify-content: center;
    align-items: center;
}